/*
 * auteur:         wessel zaunbrecher
 * aanmaakdatum:   21-3-2023
 * omschrijving:   ProjectT3
 */
/*import fonts*/
@font-face
{
    font-family: "cool";
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face
{
    font-family: "nice";
    src: url(../fonts/Roboto-Bold.ttf);
}
/*remove padding and margins and add the font to the body*/
body
{
    padding: 0;
    margin: 0;
    font-family: "nice",sans-serif;
}
/*change the font of all h3's*/
h3
{
    font-family: "cool",sans-serif;
}
/*creating the navbar for the website*/
ul
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li
{
    padding: 10px;
}
a
{
    text-decoration: none;
    color: #000000;
}
/*creating different columns for the navbar*/
.column
{
    float: left;
    padding: 10px;
}
.column.left
{
    width: 15vw;
}
.column.middle
{
    width: 55vw;
}
.column.right
{
    width: 20vw;
}
/*clearing the columns after the nav*/
.row::after
{
    content: "";
    display: table;
    clear: both;
}
/*centering the article*/
article
{
    text-align: center;
}
/*defining the size of the happy meal image*/
#happymeal
{
    width: 70vw;
    height: auto;
}
/*creating grids for the other images*/
.grid-container-three
{
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content min-content;
}
.grid-item-three, .grid-item-two
{
    text-align: left;
}
.grid-container-two
{
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content;
}
/*creating the dropdown menu*/
.dropdown
{
    display: none;
}
/*hiding the dropdown*/
.smol
{
    display: none;
}
/*styling the form*/
.formul
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formli
{
    position: relative;
    left: 35vw;
}
.formbg
{
    background-color: #01402F;
    color: #f1f1f1;
}
/*styling the submit button*/
.button
{
    border-radius: 4px;
    background-color: #FEBB0C;
    color: #FFFFFF;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin: 5px;
    transition-duration: 0.4s;
}
.button:hover
{
    background-color: #b79f00;
}
/*making the website responsive*/
@media screen and (max-width: 1000px)
{
    /*hiding the big navbar*/
    header
    {
        display: none;
    }
    /*making the dropdown menu appear*/
    .smol
    {
        display: inline;
    }
    /*making the dropdown menu*/
    nav
    {
        display: none;
    }
    .dropbtn
    {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropdown
    {
        position: relative;
        display: inline-block;
    }
    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover
    {
        background-color: #f1f1f1
    }
    .dropdown:hover .dropdown-content
    {
        display: block;
    }
    /*making the images stack on top of each other*/
    .grid-container-three, .grid-container-two
    {
        grid-template-columns: min-content;
    }
}
