/*
 * auteur:         wessel zaunbrecher
 * aanmaakdatum:   21-3-2023
 * omschrijving:   ProjectT3
 */
@font-face
{
    font-family: "cool";
    src: url(../fonts/Roboto-Black.ttf);
}
@font-face
{
    font-family: "nice";
    src: url(../fonts/Roboto-Bold.ttf);
}
body
{
    padding: 0;
    margin: 0;
    font-family: "nice",sans-serif;
}
h3
{
    font-family: "cool",sans-serif;
}
ul
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li
{
    padding: 10px;
}
a
{
    text-decoration: none;
    color: #000000;
}
.column
{
    float: left;
    padding: 10px;
}
.column.left
{
    width: 15vw;
}
.column.middle
{
    width: 55vw;
}
.column.right
{
    width: 20vw;
}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
article
{
    text-align: center;
}
#happymeal
{
    width: 70vw;
    height: auto;
}
.grid-container-three
{
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content min-content;
}
.grid-item-three, .grid-item-two
{
    text-align: left;
}
.grid-container-two
{
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content;

}
.dropdown
{
    display: none;
}
.smol
{
    display: none;
}
.formul
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formli
{
    position: relative;
    left: 40vw;
}
@media screen and (max-width: 1000px)
{
    header
    {
        display: none;
    }
    .smol
    {
        display: inline;
    }
    nav
    {
        display: none;
    }
    .dropbtn
    {
        background-color: #ffffff;
        color: #000000;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropdown
    {
        position: relative;
        display: inline-block;
    }
    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a
    {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover
    {
        background-color: #f1f1f1
    }
    .dropdown:hover .dropdown-content
    {
        display: block;
    }
    .grid-container-three, .grid-container-two
    {
        grid-template-columns: min-content;
    }
}
