/*
 * auteur:         wessel zaunbrecher
 * aanmaakdatum:   21-3-2023
 * omschrijving:   ProjectT3
 */
/*piemols
body
{
    padding: 0;
    margin: 0;
}
ul
{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li
{
    padding: 10px;
}
a
{
    text-decoration: none;
    color: #000000;
}
.column
{
    float: left;
    padding: 10px;
}
.column.left
{
    width: 15vw;
}
.column.middle
{
    width: 55vw;
}
.column.right
{
    width: 20vw;
}
.row::after
{
    content: "";
    display: table;
    clear: both;
}
article
{
    text-align: center;
}
#happymeal
{
    width: 70vw;
    height: auto;
}
.grid-container-three
{
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content min-content;
}
.grid-item-three
{
    text-align: left;
}
.grid-container-two
{
    display: grid;
    justify-content: center;
    grid-template-columns: min-content min-content;

}
.grid-item-two
{
    text-align: left;
}